In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
widearea_basemap_path = "//Akiyamalab_02/Akiyamalab02/DRM/prj_データセット開発/data/raw/基盤地図_建物/bld_poligon/all/基盤地図建物ポリゴン_全国.parquet"
widearea_basemap = gpd.read_parquet(widearea_basemap_path)

In [6]:
gov_area_path = "G:/マイドライブ/akiyamalab/オープン住宅地図/code_data/EDA/step1/行政区域レイヤ.geojson"
gov_area = gpd.read_file(gov_area_path)

In [10]:
widearea_basemap.to_crs(4326, inplace=True)
gov_area.to_crs(4326, inplace=True)

buildings_with_municipality = gpd.sjoin(
    widearea_basemap, gov_area, how="inner", predicate='within'
)

building_counts = buildings_with_municipality.groupby('JCODE').size()

In [13]:
# 結果を整形してデータフレームに変換
# reset_index() でインデックスのJCODEを列に戻し、'name'で新しい列名を指定
building_counts_df = building_counts.reset_index(name='建物数')

# 建物数で降順にソート
sorted_building_counts = building_counts_df.sort_values(by='建物数', ascending=False)

In [14]:
sorted_building_counts

      JCODE     建物数
1291  28201  386266
1442  33202  339156
1818  46201  332131
817   16201  327889
495   10202  319124
...     ...     ...
1894  47358     241
1837  46303     232
816   15586     183
190   01697      42
193   01700      36

[1902 rows x 2 columns]

In [16]:
gov_area[gov_area['JCODE'] == '28201']

,JCODE,KEN,SICHO,GUN,SEIREI,SIKUCHOSON,CITY_ENG,P_NUM,H_NUM,Shape_Leng,Shape_Area,geometry
1294,28201,兵庫県,None,None,None,姫路市,Himeji-shi,534127,242346,2.825723,0.0527,"MULTIPOLYGON (((134.46282 34.59547, 134.46116 ..."